@use './styles' as *;

.day-forecast {
  @include flex(row, center, center);
  gap: 20px;

  .day-container {
    @include flex(column, center, center);
    // background-color: red;
    color: $secondary-color;
    width: auto;

    .day-container__date {
      font-size: 30px;
    }

    .day-container__icon {
      width: 80px;
    }

    .day-container__temp {
      @include flex(row, center, center);
      font-size: 45px;
      width: 100%;

      //   span {
      //     // background-color: red;
      //   }

      .day-container__degree {
        width: 36px;
        // background-color: orange;
      }
    }
  }
}

.additional-data {
  .additional-info {
    @include flex(row, space-between, center);
    width: auto;
    // background-color: lime;
    gap: 40px;

    .feels-like,
    .wind-speed,
    .humidity {
      @include flex(row, center, center);
      width: auto;
      gap: 10px;

      svg {
        width: 50px;
      }

      span {
        font-size: 30px;
        color: $secondary-color;
        width: auto;
        // background-color: orange;
      }
    }

    .feels-like {
      .feels-like__temp {
        @include flex(row, center, center);
        svg {
          width: 30px;
        }
      }
    }

    .wind-speed {
      span {
        width: auto;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .day-forecast {
    gap: 20px;

    .day-container {
      width: auto;

      .day-container__date {
        font-size: 20px;
      }

      .day-container__icon {
        width: 65px;
      }

      .day-container__temp {
        font-size: 35px;
        height: auto;

        .day-container__degree {
          @include flex(column, center, center);
          width: 33px;
        }
      }
    }
  }

  .additional-data {
    width: auto;
    // margin: 0;
    @include flex(row, center, center);
    // background-color: red;
    .additional-info {
      width: 100%;
      @include flex(row, center, center);
      gap: 20px;
      .feels-like,
      .wind-speed,
      .humidity {
        height: 40px;
        gap: 8px;

        svg {
          width: 40px;
        }

        span {
          font-size: 20px;
          color: $secondary-color;
          width: auto;
        }
      }

      .feels-like {
        .feels-like__temp {
          svg {
            width: 22px;
          }
        }
      }

      .wind-speed {
        .wind-speed__text {
          width: 80px;
        }
      }
    }
  }
}
