@use './styles' as *;

.main-weather {
  @include flex(column, center, center);
  width: 80vw;
  max-width: 1000px;

  .main-data {
    @include flex(row, space-around, center);
    width: 100%;
  }

  .additional-data {
    @include flex(row, flex-end, center);
    width: 100%;
    height: 80px;
  }
}

.weather-container {
  @include flex(column, flex-end, center);
  height: auto;

  .day-forecast {
    @include flex(row, center, center);
  }

  .weather-container__icon {
    svg {
      width: 170px;
    }
  }

  .weather-container__temp {
    @include flex(row, center, center);
    height: auto;
    gap: 10px;
    height: 80px;

    span {
      font-size: 100px;
      color: $secondary-color;
      height: 100%;
    }

    .weatether-container__degree {
      @include flex(column, center, flex-start);
      height: 100%;
      svg {
        width: 60px;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .main-weather {
    @include flex(column, center, center);

    .main-data {
      @include flex(column, center, center);
      gap: 30px;

      .weather-container {
        gap: 10px;
        .weather-container__icon {
          svg {
            width: 140px;
          }
        }
        .weather-container__temp {
          height: auto;
          span {
            font-size: 50px;
          }

          .weatether-container__degree {
            svg {
              width: 45px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .weather-container {
    .weather-container__icon {
      svg {
        width: 130px;
      }
    }
    .weather-container__temp {
      height: auto;
      span {
        font-size: 60px;
      }

      .weatether-container__degree {
        svg {
          width: 45px;
        }
      }
    }
  }
}
