@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Lilita+One&family=Titan+One&display=swap');

$main-color: #252322;
$secondary-color: #837970;
$accent-color: #515151;
// $font-family: 'Tilt Warp', cursive;
// $font-family: 'Concert One', cursive;
$font-family: 'Lilita One', cursive;
// $font-family: 'Titan One', cursive;
