@use './styles' as *;

@use './mainWeather';
@use './additionalWeather';
@use './hourlyWeather';

.weather-data {
  @include flex(column, center, center);
  gap: 10px;
}

.hide {
  animation: reduceMainOpacity 0.2s ease-in-out forwards;
}

.show {
  animation: increaseMainOpacity 0.2s ease-in-out forwards;
}

@keyframes reduceMainOpacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}

@keyframes increaseMainOpacity {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 650px) {
  .weather-data {
    gap: 30px;
  }
}
